#timer {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 375px;
  stroke-linecap: round;
  stroke: #ff5155;
  fill: none;
//   animation: countdown 10s linear infinite forwards;
}

// @keyframes countdown {
//   from {
//     stroke-dashoffset: 375px;
//   }
//   to {
//     stroke-dashoffset: 1000px;
//   }
// }
